@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

body::-webkit-scrollbar-thumb:hover {
  background: #f8b825;
}

span, a, li {
  overflow-y: hidden !important;
}